@import 'stories.scss';

.navbar-link {
  .user-avatar {
    border-radius: 50%;
    margin-right: 10px;
  }
}

.paicing-btn {
  background-color: rgb(255, 233, 108);
}

.paicing-btn:hover {
  background-color: rgb(255, 223, 40) !important;
}